<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
    "http://java.sun.com/dtd/web-app_2_3.dtd">

 <web-app>
    <!-- General description of your web application -->

    <display-name>Java et Internet</display-name>
    <description>
          Tous les exemples du chapitre 12
    </description>
  
    
  <servlet>
    <servlet-name>CalculPerimetre</servlet-name> 
    <servlet-class>CalculPerimetre</servlet-class> 
  </servlet>
   
  
 
  <servlet-mapping>
    <servlet-name>CalculPerimetre</servlet-name>
    <url-pattern>/servlet/CalculPerimetre</url-pattern>
  </servlet-mapping>

<servlet>
    <servlet-name>CalculPerimetreAvecPost</servlet-name> 
    <servlet-class>CalculPerimetreAvecPost</servlet-class> 
  </servlet>
   
  
 
  <servlet-mapping>
    <servlet-name>CalculPerimetreAvecPost</servlet-name>
    <url-pattern>/servlet/CalculPerimetreAvecPost</url-pattern>
  </servlet-mapping>      
  


  
     
</web-app>

