[Desktop Entry]
Encoding=UTF-8
Name=Link to Overview (Java Platform SE 8 )
Type=Link
URL=https://docs.oracle.com/javase/8/docs/api/
Icon=text-html
Name[en_US]=javadoc
