[Desktop Entry]
Encoding=UTF-8
Name=Link to English Phonetics and Pronunciation Guide with Audio Examples
Type=Link
URL=https://audio-class.ru/english-phonetics.php
Icon=text-html
Name[en_US]=English Phonetics
