[Desktop Entry]
Encoding=UTF-8
Name=Link to Réseau Doctorants Docteurs
Type=Link
URL=https://www.adum.fr//phd/formation/catalogue.pl
Icon=text-html
Name[en_US]=Catalogue
