[Desktop Entry]
Encoding=UTF-8
Name=Link to Happy Hacking! [rafik.zitouni@ece.fr@AdHoc-Now 2018]
Type=Link
URL=https://ilab2.net.in.tum.de/pages/view.php?address=p3&config=2018ADHOC
Icon=text-html
