.logo
{
	float: left;
	width: 300px;
}

#colonne2{
	float: left;
	width: 300px;
	
}

body 
{ 
	margin:0;
	padding: 0;
background-color:#49868F;         
font-family: Arial, Helvetica, sans-serif;       
} 

form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }