/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 mars 2018, 11:41:54
    Author     : armel
*/

body {
    background-color: #ffffcc;
    color: #003300;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    background-color:#ffffcc;
   color:#003366;
}

h3{
    background-color:#ffffcc;
    color:#006600;
}

dd {
    font-style:italic;
    font-size:.90em;
    line-height:200%;
}

.logo{
    background-color:#ffffcc;
    color:#48751A;
}

.contact {
    font-family: "Times New Roman", serif;
    font-size: .90em;
    font-weight:bold;
}

#nav {
    font-weight:bold;
    font-size: 1.2em;
}

#footer {
    font-size: .60em;
    font-style: italic;
}