#header{
	color: rgb(255,255,255);
    background:rgba(135,206,235,0.5);
    height:100px;
    width:100%;
}

#liste{
    height:700px;
    background:rgba(0,0,0,0.5);
    width:180px;
    float: left;
}

body{
	background-image: url("https://i.ytimg.com/vi/WHOARNE0lO0/maxresdefault.jpg");
	background-size: cover;
}
h1{
	text-align: center;
}

li{
	color: rgb(255,255,255);
}

.btn-ajout{
color: white;
background-color: #000000;
width: 275px;
}
