#header
{
	height: 50px;
	width: auto;
}

#contenu
{
	color: white;
	background-color: rgba(0,0,0,0.5);
	margin-left: 50px;
	margin-right: 50px;
}

h1{
	text-align: center;
}

form{
	margin-left: 20px;
}
body{
	background-image: url("http://sfwallpaper.com/images/background-wallpaper-free-2.jpg");
	background-size: cover;
}

#boutonadmin
{
	margin-left: 20px;
}