
html,body{
	background-image: url('https://wallpapercave.com/wp/wp1860715.jpg');
	background-size: cover;
	height: 100%;
}

#conteneur{
	height: 100%;
	align-content: center;
}

#box{
	height: 370px;
	margin-top: auto;
	margin-bottom: auto;
	width: 400px;
	/*rgba couleur et transparence en dernier argument*/
	background-color: rgba(0,0,0,0.25);
}

#contenu{
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 20px;
}

#haut h3{
	margin-top: 20px;
	margin-left:20px; 
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
}

.input-group-prepend span{
	width: 50px;
	background-color: #00FFFF;
	color: black;
	border:0;
}

input:focus{
	outline: 0 0 0 0;
	box-shadow: 0 0 0 0;

}

.btn-log{
	color: black;
	background-color: #00FFFF;
	width: 100px;
}


