[Desktop Entry]
Encoding=UTF-8
Name=Link to Courses Archive - AppliedAICourse
Type=Link
URL=https://www.appliedaicourse.com/pricing-online-courses/
Icon=text-html
Name[en_US]=AI
