[Desktop Entry]
Encoding=UTF-8
Name=Link to Notes ING3 Informatique Semestre 6 - Google Sheets
Type=Link
URL=https://docs.google.com/spreadsheets/d/1KDSMgX5xYI4W0t8kqUxonQQNWmfSk6YzCtl_SCwGgiY/edit#gid=1341851402
Icon=text-html
Name[en_US]=ing3
