@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,400italic);


/*webkit- correspond chrome safari et moz firefox */
/*Permet de spécifier le rendu selon le browser  */
font-family: 'Open Sans', sans-serif;

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}


.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


.page-footer {
background-color: #222;
color: #ccc;
padding: 60px 0 30px;
}

#carousel
{
    float: center; 
}

/*Pour faire apparaitre les objets à l'achat
https://bootsnipp.com/snippets/O6eZ*/
body {
    font-family: 'Open Sans', sans-serif;
    background-size: cover;
    height: 100%; 
} 

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
    
}

.thumbnail img {
    width: 100%;
}

#surlignage
{
    background-color: rgba(0, 0, 0, 0.4);
}

.echo.img {
   
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}


.pagination>li>a, .pagination>li>span 
{
    border-radius: 75% !important;
    margin: 0 5px;
}

