[Desktop Entry]
Encoding=UTF-8
Name=Link to 21 Feature Selection using Genetic Algorithms | The caret Package
Type=Link
URL=file:///home/aghiles/gen/topepo.github.io/caret/feature-selection-using-genetic-algorithms.html
Icon=text-html
