#aside_left
{
	display: block;
	float :left;
	width : 125px;
	height : 125px;
	margin: 0;
	padding: 0;
}
#center_box
{
	display: block;
	float : left;
	max-width: 400px;
	height : 125px;
	margin: 0;
    padding: 0;
}
#aside_right
{
	display: block;
	float : right;
	width : 125px;
	height : 125px;
	margin: 0;
    padding: 0;
}
