[Desktop Entry]
Encoding=UTF-8
Name=Link to Eclipse · Zolertia/Resources Wiki · GitHub
Type=Link
URL=https://github.com/Zolertia/Resources/wiki/Eclipse
Icon=text-html
Name[en_US]=Eclipse
