[Desktop Entry]
Encoding=UTF-8
Name=Link to Université Paris-Est
Type=Link
URL=http://www.adum.fr/script/formations.pl?mod=176393&site=ParisEst
Icon=text-html
