[Desktop Entry]
Encoding=UTF-8
Name=Link to themeforest - Recherche Google
Type=Link
URL=https://www.google.fr/search?q=themeforest&oq=themeforest&aqs=chrome..69i57j0l5.6593j1j7&sourceid=chrome&ie=UTF-8
Icon=text-html
